* {
  margin: 0%;
  padding: 0%;
}

body {
  display: grid;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background: #F55A5A;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
} 

.bold {
  font-weight: bold;
  font-size: 15px;
}

.nav-title {
  display: flex;
  font-family: 'Inter', sans-serif;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

.nav-logo {
  max-width: 24px;
  padding-right: 7px;
}

.card {
  padding: 45px 40px 36px;
  display: grid;
  grid-gap: 19px;
}

.card-img {
  grid-row: 1;
  grid-column: 1;
  border-radius: 5px;
  max-width: 300px;
}

.aside {
  grid-row: 1;
  grid-column: 2;
}

.card-ping {
  padding-right: 4px;
}

.card-location {
  padding-right: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.17em;
}

.card-title {
  padding-top: 6px;
  padding-bottom: 22px;
  font-size: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 30px;
}

.card-desc {
  padding-top: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.card-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  /* identical to box height */
  text-decoration-line: underline;
  color: #918E9B;
}